.contact-page {
    margin-top: 100px;
    text-align: center;
  }
  
  .contact-links {
    height: 100px;
    width: 550px;
    justify-content: center;
    align-content: center;
    margin-left: 500px;
  }
  
  .contact-link {
    margin: 20px;
  }
  
